<div class="form-group multi_value person libra_work_<%= name %> managed">
  <%= f.label "#{name}_attributes", name.titleize, class: 'multi_value' %>
    <div class="help-block">
      <%= helper_text %>
    </div>

    <ul class="listing" aria-live="polite">
      <%= f.simple_fields_for name, Author.sort(f.object.send(name)) do |af| %>
        <li class="field-wrapper input-group input-append">
            <div class="person-group person-input"
                 data-persontype="<%= name %>"
                 >
              <%= af.hidden_field :index, value: af.options[:child_index],  class: 'index' %>
              <div class="row form-group">
                <div class="col-sm-6">
                  <%= af.input :computing_id, label: "Computing ID", input_html: {class: 'form-control id-lookup'},
                    required: false %>
                </div>
                <div class="help-block">
                   <%= t( "simple_form.hints.libra_work.person_fields" ) %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-6">
                  <%= af.input :first_name, input_html: {class: 'form-control'}, required: (name == 'authors') %>
                </div>
                <div class="col-sm-6">
                  <%= af.input :last_name, input_html: {class: 'form-control'}, required: (name == 'authors') %>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-6">
                  <%= af.input :department, input_html: {class: 'form-control'}, required: false %>
                </div>
                <div class="col-sm-6">
                  <%= af.input :institution, input_html: {class: 'form-control'}, required: false %>
                </div>
              </div>
            </div>
            <%= af.hidden_field :_destroy, value: nil, class: 'remove_field' %>
            <hr />
        </li>
      <%end%>
    </ul>
    <button type="button" class="btn btn-link add"><span class="glyphicon glyphicon-plus"></span><span class="controls-add-text">Add another <%= name.singularize.titleize %></span></button>

</div>
