<% if f.object.embargo_release_date %>
  <%= render 'form_permission_under_embargo', f: f %>
<% elsif f.object.lease_expiration_date %>
  <%= render 'form_permission_under_lease', f: f %>
<% else %>
    <fieldset>
      <legend class="legend-save-work">Visibility</legend>
      <ul class="visibility">
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC,
              data: {target: '#collapsePublic'}  %>
            <span class="label label-success">
              <%= t('curation_concerns.visibility.open.label_html') %>
            </span>
            <div class="collapse" id='collapsePublic'>
              <%= link_to "Libra Public Deposit License",
                Rails.application.routes.url_helpers.uva_public_license_path,
                target: '_blank'
              %>
            </div>
          </label>
        </li>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED,
              data: {target: '#collapseAuthenticated'} %>
            <span class="label label-warning">
              <%= t('curation_concerns.visibility.authenticated.label_html',
                    institution: t('curation_concerns.institution.name')) %>
            </span>
            <div class="collapse" id="collapseAuthenticated">
              <%= link_to "Libra UVA-only Deposit License",
                Rails.application.routes.url_helpers.uva_only_license_path,
                target: '_blank'
              %>
            </div>
          </label>
        </li>

        <% if Toggles.expose_embargo_visibility %>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO, data: { 'target': '#collapseEmbargo' } %>
            <%= t('curation_concerns.visibility.embargo.label_html') %>
            <div class="collapse" id="collapseEmbargo">
              <div class="form-inline">
                <%= f.input :visibility_during_embargo, wrapper: :inline, collection: visibility_options(:restrict), include_blank: false %>
                <%= f.date_field :embargo_release_date, wrapper: :inline, value: f.object.embargo_release_date || Date.tomorrow, class: 'datepicker form-control' %>
                <%= f.input :visibility_after_embargo, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
              </div>
            </div>
          </label>
        </li>
        <% end %>

        <% if Toggles.expose_lease_visibility %>
        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_LEASE, data: { 'target': '#collapseLease' } %>
            <%= t('curation_concerns.visibility.lease.label_html') %>
            <div class="collapse" id="collapseLease">
              <div class="form-inline">
                <%= f.input :visibility_during_lease, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
                <%= f.date_field :lease_expiration_date, wrapper: :inline, value: f.object.lease_expiration_date || Date.tomorrow, class: 'datepicker form-control' %>
                <%= f.input :visibility_after_lease, wrapper: :inline, collection: visibility_options(:restrict), include_blank: false %>
              </div>
            </div>
          </label>
        </li>
        <% end %>

        <li class="radio">
          <label>
            <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE,
          class: 'toggle' %>
            <span class="label label-danger">
              <%= t('curation_concerns.visibility.private.label_html') %>
            </span>
          </label>
        </li>
      </ul>
    </fieldset>
<% end %>
