<% provide :page_title, @presenter.page_title %>
<div itemscope itemtype="http://schema.org/CreativeWork" class="row">
  <div class="col-xs-12">
    <header>
      <%= render 'work_title', presenter: @presenter %>
    </header>
  </div>
  <div class="col-sm-8">
    <% if Toggles.expose_collections %>
    <%= render 'relationships', presenter: @presenter %>
    <% end %>
    <%= render 'metadata', presenter: @presenter %>
  </div>
  <div class="col-sm-4">
    <%= render "show_actions", presenter: @presenter %>
    <%= t('.last_modified', value: @presenter.date_modified) %>
    <%= render 'representative_media', presenter: @presenter %>
    <% if Toggles.expose_social %>
       <% render 'social_media' %>
    <% end %>
    <%= render 'citations', presenter: @presenter %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'items', presenter: @presenter %>
    <%= render 'workflow_actions_widget', presenter: @presenter %>
    <%# TODO: we may consider adding these partials in the future %>
    <%#= render 'sharing_with', presenter: @presenter %>
    <%#= render 'user_activity', presenter: @presenter %>
  </div>
</div>
