<tr>
  <td><%= Audit.localtime( audit.created_at ) %></td>
  <td><%= audit.user_id %></td>
  <td><%= audit.work_id %></td>
  <td><%= audit.field %></td>
  <% if audit.field == 'files' %>
     <% if audit.before.blank? %>
         <td></td>
         <td>added file '<%= audit.after %>'</td>
     <% else %>
         <td></td>
         <td>removed file '<%= audit.before %>'</td>
     <% end %>
  <% else %>
  <td><%= truncate( audit.before, length: 32 ) %></td>
  <td><%= truncate( audit.after, length: 32 ) %></td>
  <% end %>
</tr>
