<tr>
  <td><%= audit.created_at %></td>
  <td><%= audit.user_id %></td>
  <td><%= audit.work_id %></td>
  <td><%= audit.field %></td>
  <td><%= truncate( audit.before, length: 32 ) %></td>
  <td><%= truncate( audit.after, length: 32 ) %></td>
</tr>
