<tr>
  <td><%= audit.created_at %></td>
  <td><%= audit.user_id %></td>
  <td><%= audit.work_id %></td>
  <td><%= audit.field %></td>
  <td><%= audit.before %></td>
  <td><%= audit.after %></td>
</tr>
