<p>Dear <%= @recipient %>,</p>
<p>Congratulations on opening your work via Libra, the University of Virginia's scholarly repository.</p>
<p>The work '<%= @title %>' will be available immediately for <%= @visibility %> access.
  You have opted to grant to users of your work the following re-use rights: <%= "#{@rights_name}" %>.</p>
<p>The permanent location for your work is <a href="<%= @doi_url %>"><%= @doi_url %></a>.</p>
<p>Always provide this exact link when sharing your work with colleagues, collaborators, and on social media.
<strong>If your work did not receive a DOI (e.g. there is no link above), please contact us immediately at</strong> <%= MAIL_SENDER %>.</p>
<p>24 hours after opening your work, you may check that it was successfully added to the Library's collection by searching for the work’s title or author name in VIRGO, the UVA online library catalog.</p>
<p></p>
<p>Best Regards,</p>
<p>Scholarly Repository Services, University of Virginia Library</p>
<p><%= MAIL_SENDER %></p>
