<div class="row">
   <div id="hd">
   </div>

   <div id="bd" class="no-search">
      <div id="main" class="clearfix">
         <div id="main_content" role="main" class="col-xs-12 col-sm-9 col-sm-push-3">
            <span class='Z3988' title='rft.btitle=<%= raw( display_title(@work) ) %>'></span>
            <div id="document">
               <h1><%= raw(@work[:title].join(raw("<br>"))) %></h1>
               <% display_resource_type @work %>
               <% display_authors( Author.sort(@work.authors) ) %>
               <%= display_abstract(@work.abstract) %>
               <%= display_keywords( @work ) %>
               <%= display_rights(@work.rights_display) %>
               <% display_contributors( Contributor.sort(@work.contributors )) %>
               <%= display_language( @work.language ) %>
               <%= display_source_citation( @work.source_citation ) %>
               <%= display_generic( 'Publisher', @work.publisher) %>
               <%= display_generic_date( 'Published Date', date_formatter( @work.published_date ) ) %>
               <%= display_related_links( @work.related_url ) %>
               <%= display_generic( 'Sponsoring Agency', @work.sponsoring_agency) %>

               <%= display_notes( @work.notes ) %>
               <%= display_doi_link( @work ) %>
            </div>
         </div>
         <%= render "side_bar" %>
      </div>
   </div>
</div>
