<div id="sidebar" class="col-xs-12 col-sm-3 col-sm-pull-9">

  <div id="metrics">
     <% view_count = get_work_view_count( @work ) %>
    <span class="file_label"><%= "#{t("sufia.dashboard.stats.file_views").pluralize( view_count )}: " %></span><span class="badge"><%= view_count %></span>
  </div>

  <h2>Files</h2>
  <% if can_download_files?( @work ) %>
    <div id="uploads">
      <% @work.file_sets.each do |file| %>
        <div class="file_asset_record">
          <% download_count = get_file_download_count( file ) %>
          <p><%= link_to file.title.first, download_path(file), class: 'piwikTrackContent',
            data: { turbolinks: false,
                    "content-name": "Public Page File Download", "content-piece": file.title.first
                  } %>&nbsp;&nbsp;
          <p><span class="file_label">Uploaded:</span><%= date_formatter(file.date_uploaded) %></p>
          <p><span class="file_label"><%= "#{t("sufia.dashboard.stats.file_downloads").pluralize( download_count )}: " %></span><span class="badge"><%= download_count %></p>
        </div>
      <% end %>

    </div>
  <% else %>
      <% if @work.file_sets.empty? == false %>
          <p class="file-notice"><%= restricted_notice %></p>
      <% end %>
  <% end %>
</div>
