<div id="sidebar" class="col-xs-12 col-sm-3 col-sm-pull-9">

  <div id="metrics">
     <% view_count = get_work_view_count( @work ) %>
    <span class="file_label"><%= "#{t("sufia.public.stats.work_views")}: " %></span><span class="badge"><%= view_count %></span>
  </div>

  <h2>Files</h2>

    <% if can_download_files?( @work ) %>
      <% if show_proof_embargo_notice(@work) %>
        <div class="proof-file-notice">
          <p class="preview-warning">
              The files listed below will NOT be available to anyone until the embargo date has passed.
              <p>Embargo end date:</br>
              <%= date_formatter(@work.embargo_release_date) %>
              </p>
          </p>
        </div>
      <% end %>
      <div id="uploads">
        <% filesets_sort( @work.file_sets ).each do |fs| %>
          <div class="file_asset_record">
            <% download_count = get_file_download_count( fs.id ) %>
            <p><%= link_to fs.title.first, download_path(fs), class: 'piwikTrackContent',
                           data: { turbolinks: false,
                      "content-name": "Public Page File Download", "content-piece": fs.title.first
                    } %>&nbsp;&nbsp;
            <p><span class="file_label">Uploaded:</span><%= date_formatter(fs.date_uploaded) %></p>
            <p><span class="file_label"><%= "#{t("sufia.public.stats.file_downloads")}: " %></span><span class="badge"><%= download_count %></p>
          </div>
        <% end %>

      </div>
    <% elsif @work.is_under_embargo? %>
      <p class="file-notice"><%= embargo_notice(@work) %></p>
    <% elsif @work.file_sets.empty? %>
      <p class="file-notice"><%= t("sufia.public.files.none") %></p>
    <% else %>
      <p class="file-notice"><%= t("sufia.public.files.restricted") %></p>
    <% end %>
</div>
