<table class="table table-striped <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
  <thead>
      <th><%= t('.attribute_name_label') %></th>
      <th class="libra_work_padded_heading"><%= t('.attribute_values_label') %></th>
  </thead>
  <tbody>
    <%= render 'attribute_rows', presenter: presenter %>
  </tbody>
</table>

<%= render 'audits/by_work', audits: presenter.audit_history %>